@import "common";
@import "home";

body {
  padding: 0;
  margin: 0;
  font-size: 13px;
  @extend .ft-body;
  @extend .ft-small;
}

h1, h2, h3, h4, h5, h6 {
  @extend .ft-head;
  @extend .ft-bold;
  line-height: 1.5em;
}

.icon {
  height: 1em;
}

a {
  text-decoration: none;
  color: $theme;
  &:hover {
    opacity: 0.5;
  }
}